*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body{
     width: 100vw;
     height: 100vh;
}

header{
    height: 56px;
    width: 100vw;
    /* background-color: red; */
    position: relative;
    display: inline-block;
    align-content: center;
    top: 25px;
    left: 2vw;
}

.mainlogo{
    height: 6vh;
    position: relative;
    display: inline-block;
    left: 42%;
    
}

.line{
    height: 1px;
    width: 100vw;
    /* background-color: red; */
    position: relative;
    display: inline-block;
    border-top: 1px solid;
    top: 30px;
    border-color: rgb(217,218,220);
}

.buttons{
    display: grid;
    /* background-color: red; */
    height: 40vh;
    width: 34vw;
    left: 30%;
    top: 50px;
    position: relative;
    place-items: center;
    font-weight: bold;
   
}

.but1{
    border: rgb(19,95,194) solid;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0.5rem;
    border-width: 1px;
    width: 40vw;
    letter-spacing: 1px;
    padding-bottom: 15px;
    background-color: rgb(24,119,242);
    color: rgb(232,242,254);
    cursor: pointer;
    padding: 7px 20px 20px 20px;
    font-weight: bold;

}

.but1t{
    position: relative;
    display: inline-block;
    /* bottom: 1px; */
}

.but2{
    border: rgb(135,135,135) solid;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0.5rem;
    border-width: 1px;
    width: 40vw;
    letter-spacing: 1px;
    padding-bottom: 15px;
    background-color: rgb(25,25,25);
    color: rgb(232,232,232);
    cursor: pointer;
    padding: 10px 20px 20px 20px;
    font-weight: bold;

}
.but3{
    border: rgb(122,122,122) solid;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0.5rem;
    border-width: 1px;
    width: 40vw;
    letter-spacing: 1px;
    padding-bottom: 15px;
    background-color: rgb(255,255,255);
    color: rgb(122,122,122);
    cursor: pointer;
    padding: 6px 20px 20px 20px;
    font-weight: bold;

}
.but4{
    border: rgb(122,122,122) solid;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0.5rem;
    border-width: 1px;
    width: 40vw;
    letter-spacing: 1px;
    padding: 15px;
    background-color: rgb(255,255,255);
    color: rgb(122,122,122);
    cursor: pointer;
    padding: 20px;
    font-weight: bold;

}

button:hover{
    border-color: black;
    border-width: 3px;
    transition-duration: 50ms;

}

.line2{
    height: 1px;
    width: 18vw;
    /* background-color: red; */
    position: relative;
    display: inline-block;
    border-top: 2.5px solid;
    top: 79px;
    left: 52%;
    border-color: rgb(217,218,220);
}

.line3{
    height: 1px;
    width: 18vw;
    /* background-color: red; */
    position: relative;
    display: inline-block;
    border-top: 2.5px solid;
    top: 80px;
    left: 11%;
    border-color: rgb(217,218,220);
}

.or{
    position: relative;
    display: inline-block;
    left: 31.5vw;
    top: 80px;
    font-weight: bold;
    font-size: larger;
}

.details{
    /* background-color: green; */
    height: 50vh;
    width: 40vw;
    position: relative;
    display: grid;
    left: 27vw;
    top: 16vh;
    place-items: center;


}

.mailadd{
    /* border: black solid; */
    font-weight: bold;
    font-size: larger;
    position: relative;
    display: block;
    right: 9.7vw;
    bottom: 2vh;
}
input{
    border: black solid;
    position: relative;
    display: inline-block;
    border-color: rgb(135,135,135);
    padding: 20px;
    width: 37vw;
    border-radius: 7px;
    border-width: 1px;
    bottom: 10px;
    left: 3.5vw;
}

.pass{
    /* border: black solid; */
    font-weight: bold;
    font-size: larger;
    position: relative;
    display: inline-block;
    right: 14vw;
    bottom: 2.5vh;
    padding-top: 15px;
}

.passbox{
    position: relative;
    display: inline-block;
    bottom: 2vh;
}

.forgot{
    /* border: black solid; */
    position: relative;
    display: inline-block;
    /* font-weight: bold; */
    text-decoration: underline;
    font-size: large;
    bottom: 0vh;
    right: 11.2vw;
    

}

input:hover{
    border-color: black;
    transition: .3s;
    cursor: pointer;
}

.checkbox1{
    background: red;
    color: white;
    cursor: pointer;
    position: relative;
    display: inline-block;
    bottom: -3vh;
    left: -15.8vw;
    width: 20px;
    height: 20px;
}

.remember{
    position: relative;
    display: inline-block;
    bottom: -0.5vh;
    right: 11.5vw;
    font-size: 18px;
}


.login{
    position: relative;
    display: inline-block;
    border: rgb(30,215,96) solid;
    text-transform: uppercase;
    font-size: 20px;
    border-width: 1px;
    width: 10vw;
    letter-spacing: 1px;
    background-color: rgb(30,215,96);
    color: black;
    cursor: pointer;
    border-radius: 100px;
    font-weight: bold;
    height: 60px;
    left: 18.5vw;
    top: -4.5vh;

}


.line4{
    height: 1px;
    width: 40vw;
    left: 3.5vw;
    /* background-color: red; */
    position: relative;
    display: inline-block;
    border-top: 2.6px solid;
    top: -2vh;
    border-color: rgb(217,218,220);
}

.noacc{
    font-weight: bold;
    font-size: 25px;
    position: relative;
    display: inline-block;
    bottom: -1vh;
    left: 4vw;
}

.signup{
    border: rgb(122,122,122) solid;
    border-radius: 100px;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    margin: .5rem;
    border-width: 1px;
    width: 40vw;
    letter-spacing: 1px;
    padding: 18px;
    background-color: rgb(255,255,255);
    color: rgb(122,122,122);
    cursor: pointer;
    bottom: -2vh;
    left: 3.4vw;
}

img{
    height: 30px;
    width: 30px;
    position: relative;
    display: inline-block;
    right: 15px;
    top: 10px;
}




@media screen and (max-width: 1500px) {
    .mailadd{
        right: 8.5vw;
    }
    .pass{
        right: 13.5vw;
    }
    .forgot{
        right: 10vw;
    }
    .remember{
        right: 10vw;
    }
    .mainlogo{
        left: 41.5vw;
    }
}

@media screen and (max-width: 1200px) {
    .mailadd{
        right: 6.5vw;
    }
    .pass{
        right: 13vw;
    }
    .forgot{
        right: 9vw;
    }
    .remember{
        right: 9vw;
    }
    .mainlogo{
        left: 39vw;
    }

}

@media screen and (max-width: 1000px) {
    .mailadd{
        right: 5.5vw;
    }
    .pass{
        right: 13vw;
    }
    .forgot{
        right: 7vw;
    }
    .remember{
        right: 9vw;
    }
    .checkbox1{
        right: 16vw;
    }
    .remember{
        right: 8vw;
    }
    img{
        visibility: hidden;
    }
    .but1t{
        right: 2vw;
    }
    .but1{
        font-size: 12.5px;
    }
    .but2{
        font-size: 12.5px;
    }
    .but3{
        font-size: 14px;
    }
    .but4{
        font-size: 12px;
    }

}

@media screen and (max-width: 800px) {
    .mailadd{
        right: 3vw;
    }
    .pass{
        right: 12vw;
    }
    .forgot{
        right: 6vw;
    }
    .remember{
        right: 9vw;
    }
    .checkbox1{
        right: 16vw;
    }
    .remember{
        right: 6vw;
    }
    img{
        visibility: hidden;
    }
    .but1t{
        right: 2vw;
    }
    .but1{
        font-size: 12.5px;
    }
    .but2{
        font-size: 12.5px;
    }
    .but3{
        font-size: 14px;
    }
    .but4{
        font-size: 12px;
    }
    .login{
        font-size: 15px;
        height: 28px;
        left: 14vw;
    }
    .signup{
        font-size: 15px;
    }
    .mainlogo{
        left: 36vw;
    }

}

@media screen and (max-width: 690px) {
    .mailadd{
        right: .2vw;
    }
    .pass{
        right: 12vw;
    }
    .forgot{
        right: 6vw;
    }
    .remember{
        right: 9vw;
    }
    .checkbox1{
        right: 18vw;
    }
    .remember{
        right: 6vw;
    }
    img{
        visibility: hidden;
    }
    .but1t{
        right: 2vw;
    }
    .but1{
        font-size: 10px;
    }
    .but2{
        font-size: 10px;
    }
    .but3{
        font-size: 12px;
    }
    .but4{
        font-size: 12px;
    }
    .login{
        font-size: 15px;
        height: 28px;
        left: 15vw;
        top: -3.5vh;
    }
    .signup{
        font-size: 12px;
    }
    .noacc{
        font-size: 20px;
    }
    .line2{
        left: 52vw;
    }
    .line3{
        left: 14vw;
    }

}

@media screen and (max-width: 610px) {
    .mailadd{
        right: 18vw;
        font-size: 15px;
    }
    input{
        left: -8vh;
        width: 50vw;
    }
    .pass{
        right: 33vw;
        font-size: 15px;
    }
    .forgot{
        right: 14vw;
        font-size: 15px;
    }
    .or{
        font-size: 15px;
        top: 10vh;
    }
    .remember{
        visibility: hidden;
       
    }
    .checkbox1{
        /* position: relative;
        display: inline-block;
        right: 20vw;
        height: 14px;
        width: 14px; */
        visibility: hidden;
    }
    img{
        visibility: hidden;
    }
    .but1t{
        right: 2vw;
    }
    .but1{
        font-size: 10px;
        width: 65vw;
        right: 15vw;
        position: relative;
        display: inline-block;
        border: black solid 1px;

    }
    .but2{
        font-size: 10px;
        width: 65vw;
        right: 15vw;
        position: relative;
        display: inline-block;
        border: black solid 1px;
    }
    .but3{
        font-size: 12px;
        width: 65vw;
        right: 15vw;
        position: relative;
        display: inline-block;
        border: black solid 1px;
    }
    .but4{
        font-size: 12px;
        width: 65vw;
        right: 15vw;
        position: relative;
        display: inline-block;
        border: black solid 1px;
    }
    .login{
        font-size: 15px;
        height: 28px;
        left: -15vw;
        width: 10vh;
        top: -3.5vh;
        font-size: 10px;
    }
    .signup{
        font-size: 12px;
        width: 65vw;
        right: 15vw;
        bottom: 5px;
        position: relative;
        display: inline-block;
    }
    .noacc{
        font-size: 15px;
        left: -9vh;
        bottom: 4px;
    }
    .line2{
        left: 55vw;
        top: 10vh;
    }
    .line3{
        left: 11vw;
        top: 10vh;
    }
    .details{
        top: 16vh;
    }
    .line4{
        left: -16vw;
    }
    .mainlogo{
        left: 32vw;
    }

}
